<div class="title-bar">
	<h1 class="large-12 columns">Bispo</h1>
</div>
<div class="grid-content">
	<p>Os bispos atacam facilmente as torres.</p>
</div>

<div class="vertical medium-horizontal grid-block">
	<div class="grid-content small-12 medium-9 columns">
		<h1>Movimento</h1>
		<p>Os bispos se movimentam somente nas diagonais sem limite de casas.</p>
		<h1>Especialidade</h1>
		<p>Possuímos dois bispos, um nas casas brancas, outro nas casas pretas, eles somente se movem nas respectivas cores.</p>
	</div>
  <div class="grid-block">
    <treino-xadrez></treino-xadrez>
  </div>
</div>
<menu-novatos></menu-novatos>
