<div class="title-bar">
	<h1 class="large-12 columns">Cavalo</h1>
</div>
<div class="grid-content">
	<p>Os cavalos são as únicas peças que podem se movimentar passando por cima de outras peças.</p>
</div>

<div class="vertical medium-horizontal grid-block">
	<div class="grid-content small-12 medium-9 columns">
		<h1>Movimento</h1>
		<p>Os cavalos se movimentam sempre no formato de "L" em qualquer direção</p>
		<h1>Especialidade</h1>
		<p>Uma das formas de defender um ataque do adversário é colocar uma peça na frente do atacado, quando o atacante é um cavalo esta técnica é inútil, geralmente os ataques com o cavalo são inesperados devido a grande quantidade de casas que ele ataca ao mesmo tempo.</p>
	</div>
	<div class="grid-block">
    <treino-xadrez></treino-xadrez>
  </div>
</div>
<menu-novatos></menu-novatos>
