<div class="vertical medium-horizontal grid-block">
  <div class="grid-block align-justify small-12 medium-12 columns">
    <a class="button secondary" ui-sref="novatos.sobre"><img ng-src="assets/img/pieces/chessboard-icon.png"></a>
    <a class="button secondary" ui-sref="novatos.peao">Peão<img ng-src="assets/img/pieces/bP-icon-70x70.png"></a>
    <a class="button secondary" ui-sref="novatos.torre">Torre<img ng-src="assets/img/pieces/bR-icon-70x70.png"></a>
    <a class="button secondary" ui-sref="novatos.cavalo">Cavalo<img ng-src="assets/img/pieces/bN-icon-70x70.png"></a>
    <a class="button secondary" ui-sref="novatos.bispo">Bispo<img ng-src="assets/img/pieces/bB-icon-70x70.png"></a>
    <a class="button secondary" ui-sref="novatos.rainha">Rainha<img ng-src="assets/img/pieces/bQ-icon-70x70.png"></a>
    <a class="button secondary" ui-sref="novatos.rei">Rei<img ng-src="assets/img/pieces/bK-icon-70x70.png"></a>
    <a class="button secondary" ui-sref="novatos.treino">Treinar<img ng-src="assets/img/pieces/chessplay-icon.png"></a>
  </div>
</div>
