<div class="vertical medium-horizontal grid-block">
  <div class="grid-block align-justify small-12 medium-12 columns">
    <a class="button secondary" ui-sref="novatos.sobre"><img ng-src="assets/img/pieces/chessboard-icon.png"></a>
    <a class="button secondary" ui-sref="novatos.peao"><img ng-src="assets/img/pieces/bP-icon-70x70.png"></a>
    <a class="button secondary" ui-sref="novatos.torre"><img ng-src="assets/img/pieces/bR-icon-70x70.png"></a>
    <a class="button secondary" ui-sref="novatos.cavalo"><img ng-src="assets/img/pieces/bN-icon-70x70.png"></a>
    <a class="button secondary" ui-sref="novatos.bispo"><img ng-src="assets/img/pieces/bB-icon-70x70.png"></a>
    <a class="button secondary" ui-sref="novatos.rainha"><img ng-src="assets/img/pieces/bQ-icon-70x70.png"></a>
    <a class="button secondary" ui-sref="novatos.rei"><img ng-src="assets/img/pieces/bK-icon-70x70.png"></a>
    <a class="button secondary" ui-sref="novatos.treino"><img ng-src="assets/img/pieces/chessplay-icon.png"></a>
  </div>
</div>
