<div zf-if="small only" class="align-bottom">
    <div class="vertical medium-horizontal grid-block">
      <div class="grid-block align-justify small-12 medium-12 columns">
        <button><a ui-sref="novatos.sobre"><img ng-src="assets/img/pieces/chessboard-icon.png"></a></button>
        <button><a ui-sref="novatos.peao"><img ng-src="assets/img/pieces/bP-icon-70x70.png"></a></button>
        <button><a ui-sref="novatos.torre"><img ng-src="assets/img/pieces/bR-icon-70x70.png"></a></button>
        <button><a ui-sref="novatos.cavalo"><img ng-src="assets/img/pieces/bN-icon-70x70.png"></a></button>
        <button><a ui-sref="novatos.bispo"><img ng-src="assets/img/pieces/bB-icon-70x70.png"></a></button>
        <button><a ui-sref="novatos.rainha"><img ng-src="assets/img/pieces/bQ-icon-70x70.png"></a></button>
        <button><a ui-sref="novatos.rei"><img ng-src="assets/img/pieces/bK-icon-70x70.png"></a></button>
        <button><a ui-sref="novatos.exercicio"><img ng-src="assets/img/pieces/chessplay-icon.png"></a></button>
      </div>
    </div>
</div>
 <zf-offcanvas zf-if="not small" id="menu" position="bottom" class="detached">
 <div class="align-bottom">
    <div class="vertical medium-horizontal grid-block">
      <div class="grid-block align-justify small-12 medium-12 columns">
        <button><a ui-sref="novatos.sobre"><img ng-src="assets/img/pieces/chessboard-icon.png"></a></button>
        <button><a ui-sref="novatos.peao"><img ng-src="assets/img/pieces/bP-icon-70x70.png"></a></button>
        <button><a ui-sref="novatos.torre"><img ng-src="assets/img/pieces/bR-icon-70x70.png"></a></button>
        <button><a ui-sref="novatos.cavalo"><img ng-src="assets/img/pieces/bN-icon-70x70.png"></a></button>
        <button><a ui-sref="novatos.bispo"><img ng-src="assets/img/pieces/bB-icon-70x70.png"></a></button>
        <button><a ui-sref="novatos.rainha"><img ng-src="assets/img/pieces/bQ-icon-70x70.png"></a></button>
        <button><a ui-sref="novatos.rei"><img ng-src="assets/img/pieces/bK-icon-70x70.png"></a></button>
        <button><a ui-sref="novatos.exercicio"><img ng-src="assets/img/pieces/chessplay-icon.png"></a></button>
      </div>
    </div>
</div>
</zf-offcanvas>
