<div class="title-bar">
	<h1 class="large-12 columns">Peão</h1>
</div>
<div class="grid-content">
	<p>O peão e a peça mais simples do xadrez seu movimento é bem limitado porém ele protege as outras peças e devido a termos oito peões podemos estruturá-los para defesa ou ataque.</p>
</div>
<div class="vertical medium-horizontal grid-block">
	<div class="grid-content small-12 medium-9 columns">
		<h1>Movimento</h1>
		<p>Os peões só podem se movimentar na vertical somente uma casa por vez e não podem se movimentar para trás.</p>
		<h1>Especialidades</h1>
		<p>A primeira vez que se joga com o peão poderá se mover duas casas, o peão ataca em suas duas diagonais, se o peão chegar na outra extermidade do tabuleiro ele será promovido em qualquer outra peça que não seja o rei.</p>
	</div>

	<div class="grid-block">
		<img ng-src="assets/img/pieces/wPmove.png" alt="Movimentos torres" title="Possíveis movimentos com as torres">
	</div>
</div>
<div zf-if="not small">
	<zf-offcanvas id="menu" position="bottom" class="detached">
		<menu-novatos></menu-novatos>
	</zf-offcanvas>
</div>
<div zf-if="small only">
	<menu-novatos></menu-novatos>
</div>

