<div class="title-bar">
	<h1 class="large-12 columns">Peão</h1>
</div>
<div class="grid-content">
	<p>Peça mais simples do xadrez.</p>
</div>

<div class="vertical medium-horizontal grid-block">
	<div class="grid-content small-12 medium-9 columns">
		<h1>Movimento</h1>
		<p>Os peões só podem se movimentar na vertical, uma casa por vez e não pode se movimentar para trás</p>
		<h1>Especialidades</h1>
		<p>A primeira vez que se joga com o peão poderá se mover duas casas, o peão ataca em suas duas diagonais,  Quando peão chegar na outra extermidade do tabuleiro o jogador tem que promover o Peão em uma Rainha, Torre, Bispo ou Cavalo.</p>
	</div>

	<div class="grid-block">
		<img src="assets/img/pieces/wPmove.png" alt="Movimentos peões" title="Possíveis movimentos com os peões">
	</div>
</div>
