<div class="title-bar">
	<h1 class="large-12 columns">Rainha</h1>
</div>
<div class="grid-content">
	<p>A rainha é a peça mais poderosa do xadrez.</p>
</div>
<div class="vertical medium-horizontal grid-block">
	<div class="grid-content small-12 medium-9 columns">
		<h1>Movimento</h1>
		<p>A Rainha se movimenta em qualquer direção sem limite de casas.</p>
		<h1>Especialidade</h1>
		<p>Quando a rainha esta no meio do tabuleiro ela ataca muitas casas é uma peça que facilita muito o Xeque e consequentemente o Xeque-Mate.</p>
	</div>
	<div class="grid-block">
    <treino-xadrez></treino-xadrez>
  </div>
</div>
<menu-novatos></menu-novatos>

