<div class="title-bar">
	<h1 class="large-12 columns">Rainha</h1>
</div>
<div class="grid-content">
	<p>Peça mais poderosa do xadrez.</p>
</div>

<div class="vertical medium-horizontal grid-block">
	<div class="grid-content small-12 medium-9 columns">
		<h1>Movimento</h1>
		<p>A Rainha se movimenta em qualquer direção.</p>
		<h1>Especialidades</h1>
		<p>A peça mais poderosa do xadrez deve ser jogada com cuidado, quando a Rainha esta no meio do tabuleiro ela ataca muitas posições é uma peça que facilita muito o Xeque e consequentemente o Xeque-Mate.</p>
	</div>

	<div class="grid-block">
		<img src="assets/img/pieces/wQmove.png" alt="Movimentos rei" title="Possíveis movimentos com a rainha">
	</div>
</div>
