<div class="title-bar">
	<h1 class="large-12 columns">Rei</h1>
</div>
<div class="grid-content">
	<p>O rei é a peça mais importante do xadrez.</p>
</div>

<div class="vertical medium-horizontal grid-block">
	<div class="grid-content small-12 medium-9 columns">
		<h1>Movimento</h1>
		<p>O rei pode se mover em qualquer direção porém somente uma casa, unica excessão é quando ocorre a jogada Roque na qual ele se move duas ou três casas. O Roque também é a unica ocasião onde se pode movimentar duas peças na mesma jogada.</p>
		<h1>Especialidades</h1>
		<p>O rei é a peça mais importante do xadrez, sempre deve ser protegida além disso não podemos bloquear os seus caminhos de fuga com outras peças.
		O Roque é uma jogada para proteger o rei porém se não for feito com cuidado vai colocá-lo no canto do tabuleiro sem caminhos de saída.</p>
	</div>

	<div class="grid-block">
		<img ng-src="assets/img/pieces/wKmove.png" alt="Movimentos rei" title="Possíveis movimentos com o rei">
	</div>
</div>
<div zf-if="not small">
	<zf-offcanvas id="menu" position="bottom" class="detached">
		<menu-novatos></menu-novatos>
	</zf-offcanvas>
</div>
<div zf-if="small only">
	<menu-novatos></menu-novatos>
</div>
