<div class="title-bar">
	<h1 class="large-12 columns">Torre</h1>
</div>
<div class="grid-content">
	<p>A torre pela característica do seu movimento e também por fica no canto do tabuleiro é mais utilizada no final do jogo.</p>
</div>
<div class="vertical medium-horizontal grid-block">
	<div class="grid-content small-12 medium-9 columns">
		<h1>Movimento</h1>
		<p>As torres podem se movimentar na vertical e na horizontal sem limite de casas.</p>
		<h1>Especialidade</h1>
		<p>No final do jogo as torres facilitam bastante o xeque-mate por atacarem uma grande quantidade de casas.</p>
	</div>
	<div class="grid-block">
		<img ng-src="assets/img/pieces/wRmove.png" alt="Movimentos torres" title="Possíveis movimentos com as torres">
	</div>
</div>
