<div class="title-bar">
	<h1 class="large-12 columns">Torre</h1>
</div>
<div class="grid-content">
	<p>Peça que é mais utilizada no final do jogo.</p>
</div>

<div class="vertical medium-horizontal grid-block">
	<div class="grid-content small-12 medium-9 columns">
		<h1>Movimento</h1>
		<p>As torres podem se movimentar na vertical e na horizontal.</p>
		<h1>Especialidades</h1>
		<p>No final do jogo as torres facilitam bastante o xeque-mate, o padrão de xeque-mate com tuas torres é fácil de ser executado.</p>
	</div>

	<div class="grid-block">
		<img src="assets/img/pieces/wRmove.png" alt="Movimentos torres" title="Possíveis movimentos com as torres">
	</div>
</div>
