<div class="title-bar">
  <h1 class="large-12 columns">Modo de treino</h1>
</div>
<div class="grid-content">
  <p>Treine contra o computador</p>
</div>
<div class="vertical medium-horizontal grid-block">
  <div class="grid-content small-12 medium-9 columns">
    <p>Faça algumas jogadas, o computador responderá de forma aleatória, caso você faça alguma jogada ilegal será mostrado os movimentos legais para a respectiva peça.</p>
    <h4>Dicas:</h4>
    <ul>
      <li>
        <p>Controle o meio do tabuleiro, suas peças serão mais fortes nas casas do meio do tabuleiro.</p>
      </li>
      <li>
        <p>Não mova a mesma peça duas vezes até a décima jogada.</p>
      </li>
      <li>
        <p>Faça o Roque até a décima jogada.</p>
      </li>
      <li>
        <p>Não batalhe com sua Rainha logo no inicio do jogo.</p>
      </li>
      <li>
        <p>Cuidado com as trocas de peças</p>
        <ul>
          <li>Peão (1 ponto)</li>
          <li>Torre (5 pontos)</li>
          <li>Cavalo (3 pontos)</li>
          <li>Bispo (3 pontos - alguns dizem 3½)</li>
          <li>Dama (9 pontos)</li>
        </ul>
      </li>
    </ul>

  </div>
  <div class="grid-block">
    <treino-xadrez></treino-xadrez>
  </div>
</div>
<menu-novatos></menu-novatos>
