<div class="title-bar">
  <h1 class="large-12 columns">Modo de treino</h1>
</div>
<div class="grid-content">
  <p>Treine contra o computador</p>
</div>
<div class="vertical medium-horizontal grid-block">
  <div class="grid-content small-12 medium-9 columns">
    <p>Faça algumas jogadas, o computador responderá de forma aleatória, caso você faça alguma jogada ilegal será mostrado os movimentos legais para a respectiva peça.</p>
    <span id="gameStatus" class="label"></span>
  </div>
  <div class="grid-block">
    <div id="board" style="width: 400px"></div>
  </div>
</div>
<menu-novatos></menu-novatos>
