<div class="title-bar">
	<h1 class="large-12 columns">Sobre o Xadrez</h1>
</div>
<div class="grid-content">
	<p>O objetivo final é capturar o rei adversário.</p>
</div>
<div class="vertical medium-horizontal grid-block">
	<div class="grid-content small-12 medium-9 columns">
		<h1>Regras Básicas</h1>
		<p>O jogador com as peças brancas sempre começa jogando. Fazer movimento consiste em pegar uma peça e coloca-la numa nova casa respeitando
			as regras de movimento. Um jogador pode capturar peças do adversário  movimentando uma das suas peças para uma casa que contenha a peça inimiga e esta será retirada do tabuleiro. Após a realização de uma jogada o jogador não pode estar em xeque. O jogo termina quando se atinge o mate ou uma situação de empate.
		</p>
		<h1>Xeque e Xeque-mate</h1>
		<p>Quando o Rei está a ser atacado por uma peça inimiga diz-se que este está em xeque. No final da jogada
			o Rei não pode continuar em xeque, se o jogador se enganar e deixar o Rei nessa situação este terá de refazer o lance.
			 Se não for possível retirar o Rei do xeque, a posição passa a ser de Xeque-mate e o jogo termina com vitória o lado que efetuou o xeque.
		</p>
		<p>O tabuleiro é organizado como na figura ao lado, observar a casa mais a direita do jogador sempre será da cor branca.</p>
	</div>
	<div class="grid-block">
		<div class="grid-block">
			<img ng-src="assets/img/pieces/initialboard.png" alt="Movimentos torres" title="Possíveis movimentos com as torres">
	</div>
	</div>
</div>
<div zf-if="not small">
	<zf-offcanvas id="menu" position="bottom" class="detached">
		<menu-novatos></menu-novatos>
	</zf-offcanvas>
</div>
<div zf-if="small only">
	<menu-novatos></menu-novatos>
</div>



