<div class="title-bar">
	<h1 class="large-12 columns">Sobre o Xadrez</h1>
</div>
<div class="grid-content">
	<p>O objetivo final é capturar o rei adversário.</p>
</div>
<div class="vertical medium-horizontal grid-block">
	<div class="grid-content small-12 medium-9 columns">
		<h1>Regras Básicas</h1>
		<p>Sendo sempre o jogador com as brancas o primeiro a começar. Um movimento consiste em pegar numa peça e coloca-la numa nova casa respeitando
			as regras de movimento. Um jogador pode capturar peças do adversário, para faze-lo tem de movimentar
			uma das suas peças para uma casa que contenha uma peça inimiga, A peça capturada é retirada do tabuleiro.
			O jogador nunca pode estar em xeque após a realização de uma jogada.
		   O jogo termina quando se atingir o mate ou uma situação de empate.
		</p>
		<h1>Xeque e Xeque-mate</h1>
		<p>Quando o Rei está a ser atacado por uma peça inimiga diz-se que este está em xeque. No final da jogada
			o Rei não pode ficar em cheque, se o jogador se enganar e deixar o Rei nessa situação este terá de refazer o lance.
			 Caso não seja possível deixar o Rei sem estar em xeque a posição passa a ser de Xeque-mate e o jogo termina com derrota para o lado que se move.
		</p>
		<p>Organização do tabuleiro, observar a casa mais a direita do jogador sempre será da cor branca.</p>
	</div>
	<div class="grid-block">
	<div class="grid-content">
		<img src="assets/img/pieces/initialboard.png" alt="Organização do tabuleiro" title="Organização do tabuleiro">
	</div>
	</div>
</div>
