<div class="grid-block">
	<div class="grid-container">
		<ul class="menu vertical central no-bullet">
		  <li><a class="button" ui-sref="novatos.sobre"><span data-tooltip aria-haspopup="true" class="has-tip" data-options="show_on:large" title="Regras básicas e como movimentar suas peças">Novatos</span></a></li>
		  <li><a class="button" ui-sref="iniciantes.empates"><span data-tooltip aria-haspopup="true" class="has-tip" data-options="show_on:large" title="Sobre três fases de uma partida">Iniciantes</span></a></li>
		  <li><a class="button" href="#">Jogadores</a></li>
		  <li><a class="button" href="http://plainchess.timwoelfle.de/">Jogar!</a></li>
		</ul>
	</div>
</div>
