<!doctype html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
	<title>Novato</title>
	<link rel="stylesheet" href="css/foundation.css">
	<link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" href="css/novato.css">
	
</head>
<body class="background">

<div class="panel">
	<h1>Objetivo</h1>
		<p>O objetivo final é capturar o rei adversário.</p>
</div>

<h1 class="small-12 large-12 columns">Tabuleiro inicial</h1>
<div class="small-12 large-12 colums panel">	
	<img src="css/img/pieces/initialboard.png" class="small-10 large-3 colums"/>
</div>
O Xadrez é jogado por dois jogadores. Um joga com as peças brancas o outro com as pretas. Cada um inicialmente tem dezesseis peças.<br/>
<p>Devemos respeitar uma regra muito importante na organização das peças no tabuleiro,
a casa mais a direita do jogador deverá ser da cor BRANCA, caso contrário o tabuleiro está virado. A ordem das peças é a mesma da figura acima.</p>

<h1 class="small-10 large-4 small-centered columns">Regras Básicas</h1>
<div>
 Sendo sempre o jogador com as brancas o primeiro a começar. Um movimento consiste em pegar numa peça e coloca-la numa nova casa respeitando
as regras de movimento. Um jogador pode Capturar peças do adversário, para faze-lo tem de movimentar
uma das suas peças para uma casa que contenha uma peça inimiga, A peça capturada é retirada do tabuleiro.
O Rei do lado a jogar nunca pode estar em xeque após a realização de uma jogada. 
 O jogo termina quando se atingir o mate ou uma situação de empate. 
<h2 class="small-10 large-5 small-centered columns">Xeque e Xeque-mate</h2>
 Quando o Rei está a ser atacado por uma peça inimiga diz-se que este está em xeque. No final da jogada
o Rei não pode ficar em cheque, se o jogador se enganar e deixar o Rei nessa situação este terá de refazer o lance.
 Caso não seja possível deixar o Rei sem estar em xeque a posição passa a ser de Xeque-mate e o jogo termina com derrota para o lado que se move.
</div>
	
	<h1 class="small-3 small-centered columns">Rei</h1>
	<div class="large-6 columns panel-images panel-images">
	<img src="css/img/pieces/rei.png" class="small-6 large-7 colums"/>
	<img src="css/img/pieces/moverei.png" class="small-5 large-4 colums"/>
	</div>
	<div class="large-5 columns">
	<p>Movimento:</p>
	<p>O Rei só pode se mover uma casa por vez em qualquer direção, unica excessão é quando ocorre o Roque que ele se move mais casas. O Roque também é a unica ocasião onde se pode movimentar duas peças na mesma jogada.</p>
	<p>Especialidades:</p>
	<p>O Rei é a peça mais importante do xadrez, sempre deve ser protegida, além de proteger não podemos bloquear os caminhos de fuga do Rei com outras peças. O Roque é uma jogada para proteger o Rei porém se não for feito com cuidado vai colocar o Rei no canto do tabuleiro sem caminhos de saída.</p>
	</div>
	
	<h1 class="small-3 small-centered columns">Rainha</h1>
	<div class="large-6 columns panel-images">
	<img src="css/img/pieces/rainha.png" class="small-6 large-7 colums"/>
	<img src="css/img/pieces/moverainha.png"class="small-5 large-4 colums"/>
	</div>
	<div class="large-5 columns">
	<p>Movimento:</p>
	<p>A Rainha se move em qualquer direção.</p>
	<p>Especialidades:</p>
	<p>A peça mais poderosa do xadrez deve ser jogada com cuidado, quando a Rainha esta no meio do tabuleiro ela ataca muitas posições é uma peça que facilita muito o Xeque e consequentemente o Xeque-Mate.</p>
	
	</br>
	</br>
	</br>
	</br>
	</div>

	<h1 class="small-3 small-centered columns">Peão</h1>
	<div class="large-6 columns panel-images">
	<img src="css/img/pieces/peao.png" class="small-6 large-7 colums"/>
	<img src="css/img/pieces/movepeao.png" class="small-5 large-4 colums"/>
	</div>
	<div class="large-5 columns">
	<p>Movimento:</p>
	<p>Os peões só podem se movimentar na vertical, uma casa por vez e não pode se movimentar para trás</p>
	<p>Especialidades:</p>
	<p>A primeira vez que se joga com o peão poderá se mover duas casas, o peão ataca em suas duas diagonais,  Quando peão chegar na outra extermidade do tabuleiro o jogador tem de converter o Peão numa Rainha, Torre, Bispo ou Cavalo.</p>
	</br>
	</br>
	
	</div>
	
	<h1 class="small-3 small-centered columns">Torre</h1>
	<div class="large-6 columns panel-images">
	<img src="css/img/pieces/torre.png" class="small-6 large-7 colums"/>
	<img src="css/img/pieces/movetorre.png" class="small-5 large-4 colums"/>
	</div>
	<div class="large-5 columns">
	
	<p>Movimento:</p>
	<p>As torres podem se movimentar na vertical e na horizontal.</p>
	<p>Especialidades:</p>
	<p>As torres pela característica do seu movimento e por ficarem no canto do tabuleiro serão mais utilizadas no final do jogo, também por estarem no canto do tabuleiro são facilmente atacadas pelos bispos e cavalos, no final do jogo elas facilitam bastante o xeque-mate, veremos alguns padrões de xeque-mates e o padrão com tuas torres é bem fácil de ser executado.</p>
	</div>
	
	<h1 class="small-3 small-centered columns">Cavalo</h1>	
	<div class="large-6 columns panel-images">
	<img src="css/img/pieces/cavalo.png" class="small-6 large-7 colums"/>
	<img src="css/img/pieces/movecavalo.png" class="small-5 large-4 colums"/>
	</div>
	<div class="large-5 columns">
	<p>Movimento:</p>
	<p>Os cavalos se movimentam sempre no formato de "L" em qualquer direção</p>
	<p>Especialidades:</p>
	<p>É a única peça que pode passar por cima de outras peças.</p>
	</br>
	</br>
	</br>
	</br>
	</br>
	</div>
	
	<h1 class="small-3 small-centered columns">Bispo</h1>
	<div class="large-6 columns panel-images">
	<img src="css/img/pieces/bispo.png" class="small-6 large-7 colums"/>
	<img src="css/img/pieces/movebispo.png" class="small-5 large-4 colums"/>
	</div>
	<div class="large-5 columns">
	<p>Movimento:</p>
	<p>Os bispos se movimentam somente nas diagonais.</p>
	<p>Especialidades:</p>
	<p>Possuímos dois bispos, um nas casas brancas, outro nas casas pretas, eles somente se movem nas respectivas cores.</p>
	</br>
	</br>
	</br>
	</br>
	</div>
	
	<h1>Jogadas especiais</h1>
	<h2>Roque</h2>
	
	é um lance especial em que o Rei e a Torre se movimentam simultaneamente. Este só pode ser realizado uma vez por cada jogador. Para o roque ser possível
	têm de se verificar as seguintes condições: . O Rei que vai fazer o lance não se pode ter movido durante o jogo. . A Torre vai fazer o lance não se pode
	ter movido durante o jogo. . O Rei envolvido não está em xeque. . Todas as casas entre o Rei e a Torre têm de estar desocupadas. . O Rei não passa por
	uma casa atacada por uma peça inimiga durante o movimento. . A casa de destino do Rei não está a ser atacada. .O movimento de roque consiste no Rei movimentar-se duas casas na direcção da Torre e a Torre passar para a casa adjacente ao Rei do lado oposto ao que
se encontra inicialmente.</br>
	<img id="gifRoque" src="css/img/pieces/Roque.gif" alt="Demonstração Roque Curto e Roque Longo"></br>
	<a id="previewRoque" class="button radius">Demonstração Roque</a></br>
	<h2>Captura En Passant (Ao passar)</h2>
	 Condições para capturar “en passant”:
	<ul>
		<li>
			<p>O seu peão deve estar na 5ª fila(linha do tabuleiro).</p>
		</li>
		<li>
			<p>O peão adversário deve avançar duas casas passando ao seu lado.</p>
		</li>
		<li>
			<p>Somente no lance imediatamente após o avanço do peão adversário.</p>
		</li>
	</ul>
	<img id="gifEnPassant" src="css/img/pieces/EnPassant.gif" alt="Demonstração Captura peão En Passant"></br>
	<a id="previewEnPassant" class="button radius">Demonstração Captura En Passant</a></br>
	
	
	
	<script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
	<script src="js/novato.js"></script>
</body>
</html>