<div class="title-bar">
	<h1 class="large-12 columns">Rei</h1>	
</div>
<div class="grid-content">
	<p>Peça mais importante do xadrez.</p>
</div>

<div class="vertical medium-horizontal grid-block">
	<div class="grid-content small-12 medium-9 columns">
		<h1>Movimento</h1>
		<p>O Rei só pode se mover uma casa por vez em qualquer direção, unica excessão é quando ocorre o Roque que ele se move mais casas. O Roque também é a unica ocasião onde se pode movimentar duas peças na mesma jogada.</p>
		<h1>Especialidades</h1>
		<p>O Rei é a peça mais importante do xadrez, sempre deve ser protegida, além de proteger não podemos bloquear os caminhos de fuga do Rei com outras peças. 
		O Roque é uma jogada para proteger o Rei porém se não for feito com cuidado vai colocar o Rei no canto do tabuleiro sem caminhos de saída.</p>
	</div>
	
	<div class="grid-block">
		<img src="assets/img/pieces/moverei.png" alt="Movimentos rei" title="Possíveis movimentos com o rei">		
	</div>
</div>
<div class="grid-block">
	<div class="grid-content">
		<a class="button" ui-sref="sobre-xadrez">Anterior</a>
	</div>
	<div class="align-right">
		<a class="button" ui-sref="sobre-rainha">Próximo</a>
	</div>
</div>

