<div class="title-bar">
	<h1 class="large-12 columns">Cavalo</h1>	
</div>
<div class="grid-content">
	<p>Única peça que pode se movimentar passando por cima das outras peças.</p>
</div>

<div class="vertical medium-horizontal grid-block">
	<div class="grid-content small-12 medium-9 columns">
		<h1>Movimento</h1>
		<p>Os cavalos se movimentam sempre no formato de "L" em qualquer direção</p>
		<h1>Especialidades</h1>
		<p>Umas das defesas contra um ataque do adversário é colocar uma peça na frente para proteger, quando o atacante é um cavalo não adianta fazer este movimento,
		   geralmente os ataques com o cavalo são inesperados devido a grande quantidade de movimentos possíveis com os mesmos.</p>
	</div>
	
	<div class="grid-block">
		<img src="assets/img/pieces/movecavalo.png" alt="Movimentos cavalos" title="Possíveis movimentos com os cavalos">		
	</div>
</div>
<div class="grid-block">
	<div class="grid-content">
		<a class="button" ui-sref="sobre-torre">Anterior</a>
	</div>
	<div class="align-right">
		<a class="button" ui-sref="sobre-bispo">Próximo</a>
	</div>
</div>

