<div class="title-bar">
  <h1 class="large-12 columns">As fases da partida (Abertura)</h1>
</div>
<div class="grid-content">
   <a ui-sref="iniciantes.jogadas-avancadas"><i class="fa fa-arrow-left fa-4x" aria-hidden="true"></i></a>
   <a class="pull-right" ui-sref="iniciantes.meio-partida"><i class="fa fa-arrow-right fa-4x" aria-hidden="true"></i></a>
</div>
<div class="vertical medium-horizontal grid-block">
  <div class="grid-content small-12 medium-9 columns">
    <ul>
      <li>Abertura:
      O objetivo de cada jogador durante a abertura deverá ser montar uma frente de batalha que o possibilitará entrar na próxima fase com confiança. Em média temos de seis a oito jogadas até o inicio do meio da partida. As aberturas comuns consistem em algumas estratégias:
        <ul>
          <li>Ganhar territorio em ambos os lados do tabuleiro progredindo suas peças não deixa-las trancads atrás de seus peões;</li>
          <li>Progredir as peças para controlar as quatro casas do meio do tabuleiro para já sair com vantagem nas jogadas futuras;</li>
          <li>Progedir os Cavalos (Preferencialmente antes dos bispos);</li>
          <li>Previnir do oponente abrir uma coluna na frente do seu Rei;</li>
          <li>Executar o Roque para proteger seu Rei, muito cuidado para nao encurralar o Rei, depois do Roque devemos ter uma casa aberta para fugir;</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
