<div class="title-bar">
  <h1 class="large-12 columns">Situações de empate</h1>
</div>
<div class="grid-content">
  <p>O xadrez possui seis situações onde ocorre empate são elas Rei Afogado, Xeque perpétuo, Regra da Três Posições, Regra dos 50 Movimentos, Insuficiência material e Comum Acordo.</p>
</div>
<div class="vertical medium-horizontal grid-block">
  <div class="grid-content small-12 medium-9 columns">
    <ul>
      <li>Rei Afogado: nessa situação o Rei encontra-se encurralado em uma posição da qual não consegue sair, pois nenhum lance é legal e o rei não está em Xeque.</li>
      <li>Xeque perpétuo: ocorre quando um jogador realiza uma série de xeques sem que seja possível dar um mate.</li>
      <li>Regra da Três Posições: quando uma posição for repetida pela terceira vez em um jogo. A reclamação deve ser feita na vez do jogador, e as possibilidades de movimento tem que ser as mesmas para todas as peças no tabuleiro.</li>
      <li>Regra dos 50 movimentos: se os 50 últimos lances de cada jogador foram feitos sem que nenhuma peça fosse capturada ou que houvesse movimento de qualquer peão.</li>
      <li>Insuficiência material: caso os jogadores não tenham peças suficientes para dar o xeque-mate. O mínimo de peças considerado suficiente é de a) Rei e Rainha; b) Rei e Torre; c) Rei e dois Bispos; d) Rei, Bispo e Cavalo. Também é possível ganhar a partida com o Rei e um peão promovido.</li>
      <li>Comum Acordo: um jogador pode oferecer o empate, na sua vez, e a partida se dá por encerrada caso o oponente aceite.</li>
    </ul>
  </div>
  <div class="grid-block">
    <div class="grid-block">
      <empate-xadrez></empate-xadrez>
    </div>
  </div>
</div>
<div class="grid-content">
   <a ui-sref="menu-categorias"><i class="fa fa-arrow-left fa-4x" aria-hidden="true"></i></a>
   <a class="pull-right" ui-sref="iniciantes.jogadas-avancadas"><i class="fa fa-arrow-right fa-4x" aria-hidden="true"></i></a>
</div>

