<div class="title-bar">
  <h1 class="large-12 columns">As três fases da partida</h1>
</div>
<div class="grid-content">
   <a ui-sref="iniciantes.jogadas-avancadas"><i class="fa fa-arrow-left fa-4x" aria-hidden="true"></i></a>
   <a class="pull-right" ui-sref="menu-categorias"><i class="fa fa-home fa-4x" aria-hidden="true"></i></a>
   <p>Dividir o jogo de xadrez em fases simplifica o jogo enquanto da ao jogador tres áreas para estudar e se preparar para vitória </p>
</div>
<div class="vertical medium-horizontal grid-block">
  <div class="grid-content small-12 medium-9 columns">
    <ul>
      <li>Abertura:
      O objetivo de cada jogador durante a abertura deverá ser montar uma frente de batalha que o possibilitará entrar na próxima fase com confiança. Em média temos de seis a oito jogadas até o inicio do meio da partida. As aberturas comuns consistem em algumas estratégias:
        <ul>
          <li>Ganhar territorio em ambos os lados do tabuleiro progredindo suas peças não deixa-las trancads atrás de seus peões;</li>
          <li>Progredir as peças para controlar as quatro casas do meio do tabuleiro para já sair com vantagem nas jogadas futuras;</li>
          <li>Progedir os Cavalos (Preferencialmente antes dos bispos);</li>
          <li>Previnir do oponente abrir uma coluna na frente do seu Rei;</li>
          <li>Executar o Roque para proteger seu Rei, muito cuidado para nao encurralar o Rei, depois do Roque devemos ter uma casa aberta para fugir;</li>
        </ul>
      </li>
      <li>Meio da partida:
       consiste em uma zona de batalha, cada momento é gasto atacando e sendo atacado. O objetivo desta fase é ganhar territorio envolta do Rei inimigo e se possível capturar sua rainha:
        <ul>
          <li>Forçar seu oponente a fazer movimentos que possibilitem você capturar as peças dele;</li>
          <li>Efetuar trocas com o oponente, deixa-lo capturar uma peça mais fraca possibilitando  você capturar de uma peça mais forte;</li>
          <li>Limitar o movimento das peças do seu oponente;</li>
        </ul>
      </li>
      <li>Fim da partida:
       Fase no qual o jogo se conclui, durante esta fase você terá todas as peças do jogo em posições ativas no tabuleiro, todas as peças se transformam em uma arma, mesmo parecendo a fase do jogo mais tensa não temos mais tantas peças no tabuleiro então você poderá pensar mais claramente nas suas jogadas:
        <ul>
          <li>Bloqueie os peões inimigos passados do meio do tabuleiro;</li>
          <li>Coloque todas suas peça em posições ativa;</li>
          <li>Limite o movimento das peças do seu oponente;</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
