<div class="title-bar">
  <h1 class="large-12 columns">As fases da partida (Fim da partida)</h1>
</div>
<div class="grid-content">
   <a ui-sref="iniciantes.meio-partida"><i class="fa fa-arrow-left fa-4x" aria-hidden="true"></i></a>
   <a class="pull-right" ui-sref="menu-categorias"><i class="fa fa-home fa-4x" aria-hidden="true"></i></a>
</div>
<div class="vertical medium-horizontal grid-block">
  <div class="grid-content small-12 medium-9 columns">
    <ul>
      <li>Fim da partida:
       Fase no qual o jogo se conclui, durante esta fase você terá todas as peças do jogo em posições ativas no tabuleiro, todas as peças se transformam em uma arma, mesmo parecendo a fase do jogo mais tensa não temos mais tantas peças no tabuleiro então você poderá pensar mais claramente nas suas jogadas:
        <ul>
          <li>Bloqueie os peões inimigos passados do meio do tabuleiro;</li>
          <li>Coloque todas suas peça em posições ativa;</li>
          <li>Limite o movimento das peças do seu oponente;</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
