<div class="title-bar">
  <h1 class="large-12 columns">Jogadas Avançadas</h1>
</div>
<div class="grid-content">
  <p>Roque e Captura En passant.</p>
</div>
<div class="vertical medium-horizontal grid-block">
  <div class="grid-content small-12 medium-9 columns">
    <ul>
      <li>Roque:
      é um movimento que envolve a torre e o rei. É o único movimento do xadrez em que você mexe duas peças ao mesmo tempo e que o rei anda duas casas. O objetivo do roque é tirar o rei do centro do tabuleiro e deixá-lo num canto que é mais protegido, ao mesmo tempo colocar a torre no centro do tabuleiro para facilitar seus ataques.
        <ul>
          <li>O rei não pode ter se movimentado nenhuma vez;</li>
          <li>A torre com quem se quer rocar não pode ter feito nenhum movimento;</li>
          <li>Não pode haver peças entre o rei e a torre;</li>
          <li>O rei não pode estar em xeque;</li>
          <li>O rei não pode passar, nem terminar em casa que esteja sob o ataque de peça adversária.</li>
        </ul>
      </li>
      <li>Captura En passant:
      é uma forma especial de captura que o peão faz quando esse está na 5ª fila (em relação ao jogador) e um peão adversário avança duas casas “passando” do seu lado
        <ul>
          <li>O seu peão deve estar na 5ª fila;</li>
          <li>O peão adversário deve avançar duas casas passando ao seu lado;</li>
          <li>Somente no lance imediatamente após o avanço do peão adversário.</li>
        </ul>
      </li>
    </ul>

  </div>
  <div class="grid-block">
    <div class="grid-block">
        <jogadas-avancadas-xadrez></jogadas-avancadas-xadrez>
    </div>
  </div>
</div>
<div class="grid-content">
   <a ui-sref="iniciantes.empates"><i class="fa fa-arrow-left fa-4x" aria-hidden="true"></i></a>
   <a class="pull-right" ui-sref="iniciantes.jogadas-avancadas"><i class="fa fa-arrow-right fa-4x" aria-hidden="true"></i></a>
</div>
