<div class="title-bar">
  <h1 class="large-12 columns">As fases da partida (Meio da partida)</h1>
</div>
<div class="grid-content">
   <a ui-sref="iniciantes.abertura"><i class="fa fa-arrow-left fa-4x" aria-hidden="true"></i></a>
   <a class="pull-right" ui-sref="iniciantes.fim-partida"><i class="fa fa-arrow-right fa-4x" aria-hidden="true"></i></a>
</div>
<div class="vertical medium-horizontal grid-block">
  <div class="grid-content small-12 medium-9 columns">
    <ul>
      <li>Meio da partida:
       consiste em uma zona de batalha, cada momento é gasto atacando e sendo atacado. O objetivo desta fase é ganhar territorio envolta do Rei inimigo e se possível capturar sua rainha:
        <ul>
          <li>Forçar seu oponente a fazer movimentos que possibilitem você capturar as peças dele;</li>
          <li>Efetuar trocas com o oponente, deixa-lo capturar uma peça mais fraca possibilitando  você capturar de uma peça mais forte;</li>
          <li>Limitar o movimento das peças do seu oponente;</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
