p {
    text-indent: 10px;
}
.button{
	border: 1px solid white;
	background-color: transparent;
	border-radius: 10px;
}

.menu li a{
	font-family: 'Arimo', sans-serif;
	color: white;
	font-size: 200%;
	font-weight: bold;
}

h1 {
	font-family: 'Arimo', sans-serif;
	font-weight: bold;
}
div > p {
	font-family: 'Arimo', sans-serif;
	font-size: 100%;
}
.background{
	background: url(img/bg3.gif);
	color: white;
}
