  .full-background {  
 background: url(assets/img/bg3.gif)center center; 
  
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.flex{
	display: flex;
	justify-content: center;	
}