.menu-categorias-container{
  margin-top: 30em
}
.menu li {
    display: inline;
    float: left;
    font-size: x-large;
}
.menu li a{
    font-size: x-large;
}
.menu li a span{
    font-size: x-large;
}
body {
    color: rgb(0,85,139);
}
h1 {

}
.title-bar{
  background-color: rgb(0,85,139);
}
