.menu-categorias-container{
  margin-top: 30em
}
.menu li {
    display: inline;
    float: left;
    font-size: x-large;
}
.menu li a{
    font-size: x-large;
}
.menu li a span{
    font-size: x-large;
}
