<div class="title-bar">
  <h1 class="large-12 columns">Táticas</h1>
</div>
<div class="grid-content">
  <p>No Xadrez, o que chamamos de tática é o movimento que o enxadrista faz em um curto espaço de tempo, porém com uma eficiência notável..</p>
</div>
<div class="vertical medium-horizontal grid-block">
  <div class="grid-content small-12 medium-9 columns">
    <ul>
      <li>Garfos:
        É a mais simples das três que serão apresentadas aqui, ela consiste em realizar ataques atacando duas peças que estejam desprotegidas, ou então, uma tentativa de atacar o Rei, e qualquer outra peça que esteja aos arredores.
      </li>
      <li>Pregadura:
        A pregadura é o tipo de movimento no qual o jogador impossibilita o adversário de mover suas peças, caso elas estejam defendendo uma peça de maior valor do que a que está defendendo.
      </li>
      <li>Espetos:
        Assim como a Pregadura, a tática dos Espetos também é extremamente eficiente, pois não é uma tática defensiva, ela se passa completamente no ataque, com a diferença de que nesa jogada, a peça de maior valor ficará na frende da que possui um valor inferior.
      </li>
    </ul>
  </div>
  <div class="grid-block">
    <div class="grid-block">
        <taticas-xadrez></taticas-xadrez>
    </div>
  </div>
</div>
<!--div class="grid-content">
   <a ui-sref="iniciantes.empates"><i class="fa fa-arrow-left fa-4x" aria-hidden="true"></i></a>
   <a class="pull-right" ui-sref="iniciantes.fases"><i class="fa fa-arrow-right fa-4x" aria-hidden="true"></i></a>
</div-->
